ErrorDocument 400 /error.php?status=400
ErrorDocument 401 /error.php?status=401
ErrorDocument 403 /error.php?status=403
ErrorDocument 404 /error.php?status=404
ErrorDocument 405 /error.php?status=405
ErrorDocument 408 /error.php?status=408
ErrorDocument 410 /error.php?status=410
ErrorDocument 411 /error.php?status=411
ErrorDocument 412 /error.php?status=412
ErrorDocument 413 /error.php?status=413
ErrorDocument 414 /error.php?status=414
ErrorDocument 415 /error.php?status=415
ErrorDocument 500 /error.php?status=500
ErrorDocument 501 /error.php?status=501
ErrorDocument 502 /error.php?status=502
ErrorDocument 503 /error.php?status=503
ErrorDocument 504 /error.php?status=504
ErrorDocument 506 /error.php?status=506
